@import "tailwindcss";

@layer components {
  .form-group {
    @apply w-full flex flex-col gap-2
  }
}

@layer base {
  td {
    @apply p-3 text-left border border-gray-300
  }
  
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--bg-button-reset);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  color: var(--primary-text-color);
  font-size: 1.2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 28px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
