@import "tailwindcss";

@layer components {
  .form-group {
    @apply w-full flex flex-col gap-2
  }
}

@layer base {
  td {
    @apply p-3 text-left border border-gray-300
  }
  
}

@layer components {
  .data-item {
    @apply w-full h-9 bg-blue-600 flex flex-row justify-between items-center px-4 rounded-lg
  }
}

@layer components {
  .item-title {
    @apply text-white font-semibold text-[min(3vw,16px)]
  }
}

@layer components {
  .asset {
    @apply text-white font-semibold text-[min(3vw,16px)]
  }
}

@layer components {
  .result-item {
    @apply w-full h-[70px] flex flex-col items-center gap-2.5 py-1 px-2 bg-gray-300 rounded-lg
  }
}

@layer components {
  .result-item-title {
    @apply text-blue-950 font-semibold text-[min(4vw,16px)]
  }
}

@layer components {
  .result-item-p {
    @apply text-[1.2rem] font-semibold
  }
}



table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--bg-button-reset);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  color: var(--primary-text-color);
  font-size: 1.2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 28px 28px;
  display: flex;
  flex-direction: column;
}

  @media (min-width: 768px) { 
    body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding: 28px 28px;
    display: flex;
    align-items: center;
  }
  }