 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


:root{
    --bg-body: #fff;
    --bg-container: #E3F6F5;

    --bg-input: #D9D9D9;

    --bg-button-asset-active: #3D3DBC;
    --bg-button-asset-inactive: #69DF9C;
    --bg-button-reset: #E35656;

    --color-placeholder: #777474;

    --primary-text-color: #272343;
    --secondary-text-color: #2D334A;
}

/* Mobile firts */

body {
    /* background-color: rgb(177, 174, 174); */
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding: 28px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.container header {
    width: 	50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 100%;
        height: 100%;
    }
}

.container .title {
    color: var(--primary-text-color);
}

.content {
    background-color: var(--bg-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    border-radius: 4px;
    gap: 20px;
}

.container .content .section-investment-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    & h1 {
        color: var(--primary-text-color);
        align-self: flex-start;
    }

    & .asset-option {
        width: 100%;
        height: 42px;
        text-align: center;
        color: var(--secondary-text-color);
        font-size: 1rem;
        font-weight: 600;
        background-color: var(--bg-button-asset-inactive);
        border: none;
        border-radius: 12px;
        transition: all .2s ease-in-out;
    }

    &  .asset-option.default {
        background-color: var(--bg-button-asset-active);
        color: white;
    }

    /* & .asset-option:hover{
        background-color: #6464ed;
        color: white;
    } */
}

.container .section-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 20px;

        & .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            & label {
                color: var(--secondary-text-color);
                font-size: 1rem;
            }

            & small {
                color: var(--bg-button-reset);
            }

            & input {
                width: 100%;
                height: 38px;
                display: flex;
                text-align: right;
                align-items: center;
                padding: 0 12px;
                border: none;
                border-radius: 4px;
                color: var(--color-placeholder);
            }
        }

        & .form-group:nth-child(3) {
            display: flex;
            flex-direction: column;
            gap: 18px;
            /* justify-content: space-between; */

            & .term-input{
                display: flex;
                flex-direction: column;
                gap: 8px;

                & label {
                    color: var(--secondary-text-color);
                    font-size: 1rem;
                }

                & input {
                    width: 225px;
                    height: 38px;
                    display: flex;
                    text-align: left;

                }
            }

            & select {
                background-color: white;
                width: 225px;
                height: 38px;
                padding: 0 8px;
                border: none;
                border-radius: 8px;
                color: var(--secondary-text-color);
            }
        }

        & .form-group:nth-child(4) {
            gap: 12px;

            & label{
                color: var(--secondary-text-color);
                font-size: 1rem;
            }

            & select {
                background-color: white;
                width: 100%;
                height: 38px;
                padding: 0 8px;
                border: none;
                border-radius: 8px;
                color: var(--secondary-text-color)                
            }

            & .rentability-rate {
                display: flex;
                flex-direction: column;
                gap: 12px;

                & input {
                    width: 140px;

                }
            }
        }

        & .buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;

            & button {
                width: 100px;
                height: 38px;
                color: white; 
                font-size: 14px;
                font-weight: 500;
                border: none;
                border-radius: 8px;
                background-color: var(--bg-button-asset-active);  
                transition: all .1s ease-in-out;             
            }

            & button:nth-child(1):hover{
                background-color: #6464ed;
            }

            & button:nth-child(2){
                background-color: var(--bg-button-reset);
            }

            & button:nth-child(2):hover{
                background-color: #ae3737;
            }
        }
    }
}

